/* CAROUSEL  */

.carousel {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}
  
.carousel-item img {
    height: 550px;
    width: 30px;
    z-index: 1;
}
  
.carousel-caption h5 {
    font-size: 3rem;
    font-weight: 700;
}