
<body>
  <div class="b-example-divider"></div>
  <!-- CARRUSEL TOURS  -->
  <div class="row">
    <section id="carrusel">
      <app-carrusel></app-carrusel>
    </section>
  </div>
  <div class="b-example-divider"></div>
  <!-- NOSOTROS  -->
  <div class="row">
    <section class="container" id="nosotros">

      <div class="inner-container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://images.unsplash.com/photo-1573843981267-be1999ff37cd?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block mx-lg-auto img-fluid lazy-image" alt="Bootstrap Themes" width="700" height="500" loading="lazy"
            >
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Sobre Nosotros</h1>
            <p class="lead" style="color: white;">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="b-example-divider"></div>
  <!-- TOURS -->
  <div class="row">
    <div class="tours" id="tours"> <h1>Tours</h1>
  <div class="tours-container">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1502602898657-3e91760cbb34?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""><div class="card-content">
        <h3>PARIS</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus quidem deleniti reiciendis harum est placeat, ratione ut perspiciatis tempora corporis minima nulla molestiae quam accusantium dolore sequi ea ab!</p>
        <a href="https://louvremuseum.tickets-paris.fr/?gad_source=1&gclid=Cj0KCQjwvb-zBhCmARIsAAfUI2sGG3Ysuo4t26tyvtPqwRESyaDzwNERsvEEvKplNmIfOFcgZZprgscaAgjyEALw_wcB" class="btn-tours">COMPRAR</a>
      </div>
      </div>
  
      <div class="card">
        <img src="https://images.unsplash.com/photo-1597744733354-0499ea376fe9?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""><div class="card-content">
          <h3>MYKONOS</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus quidem deleniti reiciendis harum est placeat, ratione ut perspiciatis tempora corporis minima nulla molestiae quam accusantium dolore sequi ea ab!</p>
          <a href="https://www.ferryscanner.com/en/ferry-destinations/greece/cyclades/mykonos?arr=JMK&partnerCode=gosemgren&gad_source=1&gclid=Cj0KCQjwvb-zBhCmARIsAAfUI2vxSVvPUpqOm1neRBBcASCzkT5pR7qzJB0YRGVfIti-v-8LFbt--aMaAjiYEALw_wcB" class="btn-tours">COMPRAR</a>
        </div>
        </div>
  
        <div class="card">
          <img src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""><div class="card-content">
            <h3>VENECIA</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus necessitatibus quidem deleniti reiciendis harum est placeat, ratione ut perspiciatis tempora corporis minima nulla molestiae quam accusantium dolore sequi ea ab!</p>
            <a href="https://venecia.com/lander" class="btn-tours">COMPRAR</a>
          </div>
          </div>
  </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <!-- FEEDBACK -->
  <div class="row">
     <section class="feedback" id="feedback">
      <div class="content">
        <div class="text-container">
          <h2 class="main-heading">HACEMOS FELICES A NUESTROS CLIENTES</h2>
          <section class="testimonial">
            <div class="testimonial-container">
              <div class="image-column">
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/2ebde3a7de0024a2a62b00815197d6c2626e85bf8bcc51ac5e55e139028ca02c?apiKey=7bd693708ac842f5a1616f193d073ef7&"
                  class="testimonial-image"
                  alt=""
                />
              </div>
              <div class="text-column">
                <p class="testimonial-text">
                  Me ayudaron a planear mi viaje a Grecia y todo salio increible, sin duda los volveria a contactar!
                </p>
              </div>
            </div>
          </section>
          <section class="testimonial">
            <div class="testimonial-container">
              <div class="image-column">
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/9159a9c0676f7ecc0a43b8d20672f7bbaa5ab1d2c97d85bdd7db5284ed9401bd?apiKey=7bd693708ac842f5a1616f193d073ef7&"
                  class="testimonial-image"
                  alt=""
                />
              </div>
              <div class="text-column">
                <p class="testimonial-text">
                  Siempre son atentos y se preocupan hasta el ultimo detalle para que disfrutes de tu viaje, servicio 11/10
                </p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </div>
</body>