<header>
    <div class="hero-section" id="hero">
      <div class="nav" id="navbar">
        <ul class="nav-list">
          <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
          <li class="nav-item"><a href="#nosotros" class="nav-link">Nosotros</a></li>
          <a class="nav-link" routerLink="/paquetes" routerLinkActive="active" ariaCurrentWhenActive="page">Paquetes</a>
          <a class="nav-link" routerLink="/galeria" routerLinkActive="active" ariaCurrentWhenActive="page">Galeria</a>
          <a class="nav-link" routerLink="/informacion" routerLinkActive="active" ariaCurrentWhenActive="page">Información</a>
          <a class="nav-link" routerLink="/contacto" routerLinkActive="active" ariaCurrentWhenActive="page">Contactos</a>
        </ul>
      </div>
  
      <div class="text-box">
          <h1 class="primary-text">The Great Outdoors</h1>
          <h2 class="secondary-text">Descubre lugares asombrosos alrededor del mundo!</h2>
          <a class="hero-btn" href="#carrusel">Explora</a>
      </div>
    </div>
</header>